{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<script language="javascript">
  function resumen(){
      var win = window.open("/admin/resumen/evaluaciones", "resumen", 
  'height=600,width=750,resizable=yes,scrollbars=yes');
      win.focus();
  }
</script>
{% endblock%}

{% block object-tools %}
{{ block.super }}
  <ul class="object-tools">
    <li>
      <a href="javascript:void(0)" onclick="resumen();">
        Resumen de Evaluaciones
      </a>
    </li>
  </ul>
{% endblock %}

