{%  extends "admin/base_site.html" %}
{#% extends "base.html" %#}

<!--link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" /-->

{% block content %}

<h2> Asignaturas Docentes </h2>
<p/>
<ul>

{% for asignatura in asignaturas %}

<h3> <li>  <a href="/carrera/asignatura/docentes/{{ asignatura.asignatura.id }}"> {{ asignatura.asignatura.nombre }}  </a> </li> </h3>

    {% ifequal asignatura.asignatura.id id_asignatura %}
    <ul> 
      {% for docente in asignatura.asignatura.docentes.all %}
      <h4> <li> <a href="">  {{ docente.docente }} </a> </li> </h4>
      {% endfor%}
    </ul>
    {% endifequal %}

{% endfor %}

</ul>

{% endblock %}
