{%  extends "admin/base_site.html" %}
{#% extends "base.html" %#}

<!--link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" /-->

{% block content_title %} <h3> Seleccione Asignatura y Docente </h3>{% endblock %}

{% block content %}


<p/>
<ul>

{% for asignatura in asignaturas %}

<h3> <li>  <a href="{% url proyecto.app.controllers.app.asignaturas_docentes asignatura.id %}"> {{ asignatura.nombre }}  </a> </li> </h3>

{% if seleccion %}

    {% ifequal asignatura.id seleccion.id %}

    <ul> 
      {% for docente in docentes %}
      <h4> <li> <a href="{% url proyecto.app.controllers.app.encuestas docente.id %}">  {{ docente }} </a> </li> </h4>
      {% endfor%}
    </ul>

    {% endifequal %}

{% endif %}

{% endfor %}

</ul>

{% endblock %}
