{%  extends "admin/base_site.html" %}
{#% extends "base.html" %#}

{% block content_title %}
<h1>Seleccione el Docente a Evaluar </h1>
{% endblock %}

{% block content %}
<table style="margin-top: 20px;">
  <thead> <th> ASIGNATURA </th> <th> DOCENTES <th/> </thead>
  <tbody>
  {% for ad in asignaturas_docentes %}
  <tr style="border-bottom: 1px solid dotted;">
    <td>
      <b>
	{{ ad.asignatura.nombre }}
      </b>
    </td>
    <td>
      {% for d in ad.docentes %}
      <ul class="{% if d.evaluado %} messagelist {% endif %}">
	<li>
	  {% if d.evaluado %}
	     {{ d.docente }} </br>
	  {% else %}
	  <b>
	    {# Se envia ids de asignatura y de docente #}
	    <a href="{% url proyecto.app.controllers.encuestas ad.asignatura.id d.docente.id %}"> {{ d.docente }} </a> </br>
	  </b>
	  {% endif %}
	</li>
      </ul>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
  <tr> 
    <td> 
    </td> 
    <td align="right">
      <a href="{% url proyecto.app.controllers.index %}"> <u><<< Cambiar Carrera >>> </u></a>  
    </td> 
  </tr>
  </tbody>
</table>



{% endblock %}
