<html>
  <head>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> En construcción </title>
    <style type="text/css">

    body {
	font-family: Helvetica, Arial, Sans;
    }

    </style>
  </head>
  <body>
    <center>
      <center><h2> En Construcción ...  </h2> </center>
      <div id="pie" style="font-size: 9px; color: #666666">
		<hr style="margin-bottom: 6px;"/>
		Unidad de Telecomunicaciones e Infomacion - Departamento de Desarrollo de Software <br>
		Correo Sistema de Evaluacion: 
		<a href="mailto:evaluacion.docente@unl.edu.ec"> <u>evaluacion.docente@unl.edu.ec</u> </a> <br/>
		Loja - Ecuador
      </div>

    </center>
  </body>
</html>
