{%  extends "admin/base_site.html" %}

{% load i18n %}

{% load adminmedia %}

{% block extrahead %}

   {{ block.super }}

    <style type="text/css">
    #encabezado {
	margin-top: 20px;
	margin-bottom: 20px;
	align: center;
    }

    .seccion{
	/*background-color: #EDF3FE;*/
        background-color: #B4CBE5;
    }

    .td-item-seleccion{
	border: 2px white solid;
	background-color: #B4CBE5;
	text-align: center;
        display: table-cell;
	/* Para cortar las palabras al ancho de la celda */
        word-break: break-all;
        
    }

    .td-tabla-contenedor {
        border-bottom: 1px dotted  #B4CBE5;
        border-left: 1px dashed  #B4CBE5;
    }

    #tabla-items{
	width: 100%;
    }
    </style>

    <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"> </script>

    <script type="text/javascript">
    
function validarSeleccionUnica(){
    var preguntas = new Array();
    // Se validan como obligatorias todas las preguntas de Selección Unica
    $.each($('#formulario input[name^="pregunta"]:radio'), function(){
	var nombre = $(this).attr("name");
	preguntas[nombre] = nombre;
    });
    for (var pregunta in preguntas){
	if (! $('#formulario input[name=' + pregunta +']:radio').is(':checked') ){
	    alert('ERROR: Faltan preguntas por contestar');
	    return false;
	}
	
    }
    return true;
};

function validarEnsayos(){
    var preguntas = new Array();
    // Se validan como obligatorias todas las preguntas de Ensayo
    $.each($('#formulario textarea[name^="pregunta"]'), function(){
	var nombre = $(this).attr("name");
	preguntas[nombre] = nombre;
    });
    for (var pregunta in preguntas){
	if ( $('#formulario textarea[name=' + pregunta +']').val().length < 4 ){
	    alert('ERROR: Faltan preguntas por completar');
	    return false;
	}
    }
    return true;
};

function validarObservaciones(){
    /* Validación en Evaluacion de Actividades Adicionales a la Docencia 2011-2012 */
    var flag = true;
    $.each($('#formulario input[name^="pregunta"]:radio:checked'), function(){
	var p = $(this).attr("name");
	var r = $(this).attr("value");
	var np = p.split('-')[1]; //Numero de la pregunta
	var o = 'observaciones-pregunta-' + np;
	var observaciones = $('textarea[name='+o+']').val();
	if (r != '1' && observaciones == ''){
	    alert('Faltan ingresar fuentes de verificación')
	    flag=false;
	    return flag;
	}
    });
    return flag;
}

function grabarEncuesta(){
    /* Se trata de la Evaluacion de Actividades Adicionales a la Docencia 2011-2012 */
    {% ifequal cuestionario.periodoEvaluacion.id 2 %}
    if (validarObservaciones()){
	$('#formulario').submit();
    } else {
	return false;
    }
    {% endifequal %}
    /* Para el resto de casos de Periodos de Evaluacion */
    $('#formulario').submit();


    /*$.ajax({
	url: "/encuesta/grabar/",
	method: "POST",
	//data: "periodo_academico_id={{ object_id }}",
	success: function (data){
	    alert(data);
	},
	error: function(xhr,status,error){
	    alert("error: " + status + "-" + error);
	}
    });*/
}

$(document).ready(function(){
    $('#grabar').click(function(){
	{% if cuestionario.preguntas_obligatorias %}
	if (validarSeleccionUnica() == true && validarEnsayos() == true){
	    grabarEncuesta();
	}
	{% else %}
	    grabarEncuesta();	
	{% endif %}
    });
});
    </script>
    
{% endblock %}


{% block content_title %}

<h3> {{ cuestionario.titulo }} </h3>

{% endblock %}


{% block content %}


<form action="/encuesta/grabar/" method="post" id="formulario" name="formulario" >

  {% csrf_token %}

  <table id="tabla-contenedor">

	<td colspan="2">
	  <div id="encabezado-cuestionario" width="25%">
	    {{ cuestionario.encabezado|safe }} 
	  </div>

	  <!-- Encuesta dirigida a los ESTUDIANTES -->
	  {#% if cuestionario.informante.tipo.startswith('Estudiante') %#}
	  {% if asignaturaDocente %}
	  <div id="datos_academicos" style="line-height: 18px;">
	    Area: <b> {{ asignaturaDocente.asignatura.area }} </b> <br/>
	    Carrera: <b> {{ asignaturaDocente.asignatura.carrera }} </b> <br/>
	    Modulo ( {% ifequal asignaturaDocente.asignatura.tipo "modulo" %} <b>X</b> {% endifequal %}  );
	    Unidad ( {% ifequal asignaturaDocente.asignatura.tipo "unidad" %} <b>X</b> {% endifequal %}  )
	    Curso ( {% ifequal asignaturaDocente.asignatura.tipo "curso" %} <b>X</b> {% endifequal %}  )
	    Taller ( {% ifequal asignaturaDocente.asignatura.tipo "taller" %} <b>X</b> {% endifequal %}  )
	    Otro ( {% ifequal asignaturaDocente.asignatura.tipo "otro" %} <b>X</b> {% endifequal %}  )
	    <br/>
	    Nombre de el/la Docente Evaluado(a): <b> {{ asignaturaDocente.docente }} </b> <br/>
	    Fecha de Evaluacion: <b> {{ fecha }} </b> <br/>
	  </div>
	  {% endif %}

	  <!-- Encuesta dirigida a los DIRECTORES DE CARRERA -->
	  {% if 'Directivo' in cuestionario.informante.tipo %}
	  <div id="datos_academicos" style="line-height: 18px;">
	    AREA: <b> {{ request.session.area }} </b> <br/>
	    CARRERA: <b> {{ request.session.carrera }} </b> <br/>
	    MÓDULO: (<b>X</b>) <br/>
	    NOMBRE DEL PROFESOR (A) EVALUADO (A): <b> {{ request.session.docente_evaluar }} </b>
	  </div>
	  {% endif %}

	  <!-- Encuesta dirigida a los PARES ACADEMICOS -->
	  {% if 'ParAcademico' in cuestionario.informante.tipo %}
	  <div id="datos_academicos" style="line-height: 18px;">
	    AREA: <b> {{ request.session.area }} </b> <br/>
	    CARRERA: <b> {{ request.session.carrera }} </b> <br/>
	    MÓDULO: (<b>X</b>) <br/>
	    NOMBRE DEL PROFESOR (A) EVALUADO (A): <b> {{ request.session.docente_evaluar }} </b>
	  </div>
	  {% endif %}

	  <!-- Encuesta de autoevaluacion para los DOCENTES -->
	  {% if cuestionario.informante.tipo == 'Docente' %}
	  <div id="datos_academicos" style="line-height: 18px;">
	    AREA: <b> {{ request.session.areas_docente }} </b> <br/>
	    CARRERA: <b> {{ request.session.carreras_docente }} </b> <br/>
	    MÓDULO: (<b>X</b>) <br/>
	    NOMBRE DEL PROFESOR (A) EVALUADO (A): <b> {{ request.session.docente }} </b>
	  </div>
	  {% endif %}

	</td>
	<!-- end datos academicos -->
	
	<tbody>

	  {% for seccion in cuestionario.secciones.all %}  <!-- secciones de cuestionario -->
	  <tr>
		<td class="seccion" colspan="3" > 
		  <b> {{ seccion.orden }}. {{ seccion.titulo|upper }} </b> 
		  {{ seccion.descripcion }}  
		</td>
	  </tr>

	  <!-- =============== Tratamiento de preguntas de SUBSECCIONES =============== -->

	  {% for subseccion in seccion.subsecciones.all %}
	  <tr>
		<!-- columna subseccion -->
		<td class="td-tabla-contenedor" width="10%" rowspan="{{ subseccion.preguntas.count }}"> 
		   {% if subseccion.codigo %} {{ subseccion.codigo }} {% else %} {{ subseccion.orden }} {% endif %} 
		</td>
		<!--/columna subseccion -->

		<!-- preguntas de subsecciones -->
		{% for pregunta in subseccion.preguntas.all %}
		<!-- columna  pregunta -->
		<td class="td-tabla-contenedor" width="60%" colspan="{% ifequal pregunta.tipo.tipo 'Ensayo' %} 3 {% endifequal %} ">
		  <b> 
			{% if pregunta.codigo %} {{ pregunta.codigo }}. {% else %} {{ pregunta.orden }}. {% endif %} 
		  </b>
		  {{ pregunta.texto|safe }}
		  <br/>
		  {{ pregunta.descripcion|safe }} <!-- Puede contener HTML --> 
		  {% ifequal pregunta.tipo.tipo 'Ensayo' %}
		  <br/>
		  <textarea colspan="2" name="pregunta-{{ pregunta.id }}" cols="100" rows="10" style="width: 100%;" ></textarea>
		  {% endifequal %}
		</td>
		<!--/ preguntas de subsecciones -->
	
		<!-- items de pregunta si es de seleccion -->
		{% ifequal pregunta.tipo.tipo 'SeleccionUnica' %}
		<td class="td-tabla-contenedor" width="30%">
		  <table id="tabla-items">
			<tbody>
			  <tr>
				{% for item in pregunta.items.all %}
				<!--Dividir para el numero exacto de items de la pregunta Ej. width: 25%-->
				<td class="td-item-seleccion" {% if not item.descripcion %} style="vertical-align: middle;" {% endif %} 
				{% if not pregunta.observaciones %} style="width:25%;" {%else%} style="width:20%;" {% endif %} >
				  <input type="radio" name="pregunta-{{ pregunta.id }}"  value="{{ item.texto }}"> </input> 
				  <b> {{ item.texto }} </b>
				  <br/>
				  {% if item.descripcion %} {{ item.descripcion }} {% endif %}
				</td>
				{% endfor%}

				{% if pregunta.observaciones %}
				<td id="observaciones">
				  {{pregunta.observaciones|safe}}:
				  <textarea name="observaciones-pregunta-{{ pregunta.id }}" rows="6" style="width: 100%;"></textarea>
				</td>
				{% endif %}
			  </tr>
			</tbody>
		  </table>
		</td>
		{% endifequal %}
		<!--/ items pregunta si es de seleccion -->
	  </tr> 
	  {% if not forloop.last %}
	  <tr> <!-- por el rowspan de la primera columna -->
	  {% endif %}
	  {% endfor %} <!--/ preguntas de subseccion -->
	  {% endfor %} <!--/ subsecciones -->

	  <!-- ================= Tratamiento de Peguntas de SECCIONES ================ -->

	  {% for pregunta in seccion.preguntas.all %} <!-- preguntas de secciones  -->
	  <tr>
		<td class="td-tabla-contenedor" width="60%" colspan="{% ifequal pregunta.tipo.tipo 'Ensayo' %} 3 {% endifequal %} ">
		  {% if cuestionario.secciones.all|length > 1 %} 
		  <b>
			{% if pregunta.codigo %} {{ pregunta.codigo }}. {% else %} 	{{ seccion.orden }}.{{ pregunta.orden }}. {% endif %}
		  </b> 
		  {{ pregunta.texto|safe }}
		  {% else %}
		  <b> 
			{% if pregunta.codigo %} {{ pregunta.codigo }}. {% else %} {{ pregunta.orden }}. {% endif %} 
		  </b> 
		  {{ pregunta.texto|safe }}  
		  {% endif %}
		  <br/>
		  {% if pregunta.descripcion %}
		  {{ pregunta.descripcion|safe }} <!-- Puede contener HTML --> 
		  {% endif %}
		  {% ifequal pregunta.tipo.tipo 'Ensayo' %}
		  <br/>
		  <textarea name="pregunta-{{ pregunta.id }}" cols="100" rows="10" style="width: 100%;" ></textarea>
		  {% endifequal %}
		</td>

		<!-- items pregunta de seccion si es de seleccion -->
		{% ifequal pregunta.tipo.tipo 'SeleccionUnica' %}
		<td class="td-tabla-contenedor" width="40%">
		  <table id="tabla-items">
			<tbody>
			  <tr>
				{% for item in pregunta.items.all %}
				<!--TODO: Dividir para el numero exacto de items de la pregunta Ej. width: 25%-->
				<td class="td-item-seleccion" {% if not item.descripcion %} style="vertical-align: middle;" {% endif %} 
				{% if not pregunta.observaciones %} style="width:25%;" {%else%} style="width:20%;" {% endif %} >
				  <input type="radio" name="pregunta-{{ pregunta.id }}"  value="{{ item.texto }}"> </input> 
				  <b> {{ item.texto }} </b>
				  <br/>
				  {% if item.descripcion %} {{ item.descripcion }} {% endif %}
				</td>
				{% endfor%}

				{% if pregunta.observaciones %}
				<td id="observaciones">
				  {{pregunta.observaciones|safe}}:
				  <textarea name="observaciones-pregunta-{{ pregunta.id }}" rows="6" style="width: 100%;"></textarea>
				</td>
				{% endif %}
			  </tr>
			</tbody>
		  </table>
		</td>
		{% endifequal %}
		<!--/ items pregunta de seccion si es de seleccion -->
	  </tr> 
	  {% endfor %} <!--/ preguntas de seccion -->

	  {% endfor %} <!--/ secciones de cuestionario -->

	</tbody>

	<tfoot>
	  <div id="comandos">
		<tr>
		  <td colspan="2"> 
			<input type="button" id="grabar" name="grabar" value="GRABAR"/>  
			<input type="reset" value="BORRAR"/>
			<input type="button" id="cancelar" name="cancelar" value="CANCELAR"/>
		  </td>
		</tr>
	  </div>
	</tfoot>
  
  </table>

</form>

{% endblock %}

