{%  extends "admin/base_site.html" %}

{% load i18n %}

{% load adminmedia %}

{% block extrahead %}

   {{ block.super }}

    <style type="text/css">
    #encabezado {
	margin-top: 20px;
	margin-bottom: 20px;
	align: center;
    }

    .seccion{
	/*background-color: #EDF3FE;*/
        background-color: #B4CBE5;
    }

    .td-item-seleccion{
	border: 2px white solid;
	background-color: #B4CBE5;
	text-align: center;
	width: 25%;
        display: table-cell;
	/* Para cortar las palabras al ancho de la celda */
        word-break: break-all;
        
    }

    .td-tabla-contenedor {
        border-bottom: 1px dashed  #B4CBE5;
    }

    #tabla-items{
	width: 100%;
    }
    </style>

    <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"> </script>

    <script type="text/javascript">
    
function validarSeleccionUnica(){
    var preguntas = new Array();
    // Se validan como obligatorias todas las preguntas de Selección Unica
    $.each($('#formulario input[name^="pregunta"]:radio'), function(){
	var nombre = $(this).attr("name");
	preguntas[nombre] = nombre;
    });
    for (var pregunta in preguntas){
	if (! $('#formulario input[name=' + pregunta +']:radio').is(':checked') ){
	    alert('ERROR: Faltan preguntas por contestar');
	    return false;
	}
	
    }
    return true;
};

function validarEnsayos(){
    var preguntas = new Array();
    // Se validan como obligatorias todas las preguntas de Ensayo
    $.each($('#formulario textarea[name^="pregunta"]'), function(){
	var nombre = $(this).attr("name");
	preguntas[nombre] = nombre;
    });
    for (var pregunta in preguntas){
	if ( $('#formulario textarea[name=' + pregunta +']').val().length < 4 ){
	    alert('ERROR: Faltan preguntas por completar');
	    return false;
	}
    }
    return true;
};


function grabarEncuesta(){
    
    $('#formulario').submit();

    /*$.ajax({
	url: "/encuesta/grabar/",
	method: "POST",
	//data: "periodo_academico_id={{ object_id }}",
	success: function (data){
	    alert(data);
	},
	error: function(xhr,status,error){
	    alert("error: " + status + "-" + error);
	}
    });*/
}

$(document).ready(function(){
    $('#grabar').click(function(){
	{% if cuestionario.preguntas_obligatorias %}
	if (validarSeleccionUnica() == true && validarEnsayos() == true){
	    grabarEncuesta();
	}
	{% else %}
	    grabarEncuesta();	
	{% endif %}
    });
});
    </script>
    
{% endblock %}


{% block content_title %}

<h3> {{ cuestionario.titulo }} </h3>

{% endblock %}


{% block content %}


<form action="/encuesta/grabar/" method="post" id="formulario" name="formulario" >

  {% csrf_token %}

    <table id="tabla-contenedor">

      <!--thead style="margin-bottom: 40px;"-->
	<td colspan="2">
	  <div id="encabezado-cuestionario" width="25%">
	    {{ cuestionario.encabezado|safe }} 
	  </div>

	  <!-- Encuesta dirigida a los ESTUDIANTES -->
	  {#% if cuestionario.informante.tipo in ('Estudiante', 'EstudianteNovel', 'EstudianteMED', 'InstitutoIdiomas' %#}
	  {% if asignaturaDocente %}
	  <div id="datos_academicos" style="line-height: 18px;">
	    Area: <b> {{ asignaturaDocente.asignatura.area }} </b> <br/>
	    Carrera: <b> {{ asignaturaDocente.asignatura.carrera }} </b> <br/>
	    Modulo ( {% ifequal asignaturaDocente.asignatura.tipo "modulo" %} <b>X</b> {% endifequal %}  );
	    Unidad ( {% ifequal asignaturaDocente.asignatura.tipo "unidad" %} <b>X</b> {% endifequal %}  )
	    Curso ( {% ifequal asignaturaDocente.asignatura.tipo "curso" %} <b>X</b> {% endifequal %}  )
	    Taller ( {% ifequal asignaturaDocente.asignatura.tipo "taller" %} <b>X</b> {% endifequal %}  )
	    Otro ( {% ifequal asignaturaDocente.asignatura.tipo "otro" %} <b>X</b> {% endifequal %}  )
	    <br/>
	    Nombre de el/la Docente Evaluado(a): <b> {{ asignaturaDocente.docente }} </b> <br/>
	    Fecha de Evaluacion: <b> {{ fecha }} </b> <br/>
	  </div>
	  {% endif %}

	  <!-- Encuesta dirigida a los DIRECCIONES DE CARRERA -->
	  {% if cuestionario.informante.tipo == 'Directivos' %}
	  <div id="datos_academicos" style="line-height: 18px;">
	    AREA: <b> {{ request.session.area }} </b> <br/>
	    CARRERA: <b> {{ request.session.carrera }} </b> <br/>
	    MÓDULO: (<b>X</b>) <br/>
	    NOMBRE DEL PROFESOR (A) EVALUADO (A): <b> {{ request.session.docente_evaluar }} </b>
	  </div>
	  {% endif %}

	  <!-- Encuesta de autoevaluación para los DOCENTES -->
	  {% if cuestionario.informante.tipo == 'Docente' %}
	  <div id="datos_academicos" style="line-height: 18px;">
	    AREA: <b> {{ request.session.areas_docente }} </b> <br/>
	    CARRERA: <b> {{ request.session.carreras_docente }} </b> <br/>
	    MÓDULO: (<b>X</b>) <br/>
	    NOMBRE DEL PROFESOR (A) EVALUADO (A): <b> {{ request.session.docente }} </b>
	  </div>
	  {% endif %}

	</td>
      <!--/thead-->

      <tbody>
	  {% for seccion in cuestionario.secciones.all %}
	  <tr>
	    <td class="seccion" colspan="2" > 
	      <b> {{ seccion.orden }}. {{ seccion.titulo|upper }} </b> 
	      {{ seccion.descripcion }}  
	    </td>
	  </tr>

	  {% for pregunta in seccion.preguntas.all %}
	  <tr>
	    <td class="td-tabla-contenedor" width="65%" colspan="{% ifequal pregunta.tipo.tipo 'Ensayo' %} 2 {% endifequal %} ">
	      {% if cuestionario.secciones.all|length > 1 %} 
	      <b>
		{% if pregunta.codigo %} {{ pregunta.codigo }}. {% else %} 
		{{ seccion.orden }}.{{ pregunta.orden }}. {% endif %}
	      </b> 
	      {{ pregunta.texto|upper }}
	      {% else %}
	      <b> 
		{% if pregunta.codigo %} {{ pregunta.codigo }}. {% else %} {{ pregunta.orden }}. {% endif %} 
	      </b> 
	      {{ pregunta.texto|upper }}  
	      {% endif %}

	      <br/>
	      {{ pregunta.descripcion|safe }} <!-- Puede contener HTML --> 
	      {% ifequal pregunta.tipo.tipo 'Ensayo' %}
	      <br/>
	      <textarea name="pregunta-{{ pregunta.id }}" cols="100" rows="10" style="width: 100%;" ></textarea>
	      {% endifequal %}

	      {% ifequal pregunta.tipo.tipo 'SeleccionUnica' %}
	    
	      <td width="35%" class="td-tabla-contenedor">
		<table id="tabla-items">
		  <tbody>
		    <tr>
		      {% for item in pregunta.items.all %}
		      <td class="td-item-seleccion" {% if not item.descripcion %} style="vertical-align: middle;" {% endif %}>
			  <input type="radio" name="pregunta-{{ pregunta.id }}" 
				 value="{{ item.texto }}"> </input> 
			  <b> {{ item.texto }} </b>
			  <br/>
			  {% if item.descripcion %} {{ item.descripcion }} {% endif %}
		      </td>
		      {% endfor%}
		    </tr>
		  </tbody>
		</table>
	      </td>
	      {% endifequal %}

	    </td>  
	  </tr> <!-- pregunta -->
	  {% endfor %} <!-- preguntas -->
	  {% endfor %} <!-- secciones  -->

	<!--/div-->
      </tbody>

      <tfoot>
	<div id="comandos">
	  <tr>
	    <td colspan="2"> 
	      <input type="button" id="grabar" name="grabar" value="GRABAR"/>  
	      <input type="reset" value="BORRAR"/>
	      <input type="button" id="cancelar" name="cancelar" value="CANCELAR"/>
	    </td>
	  </tr>
	</div>
      </tfoot>
    
    </table>
    
</form>

{% endblock %}

