<html>
  <head>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> Resultados Evaluación Actividades Adicionales a la Docencia Septiembre 2011 - Julio 2012 </title>
    <style type="text/css">
    body {
	font-family: Helvetica, Arial, Sans;
    }
    table {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 75%;
	borderspacing: 0;
    }
    th {
	text-align: center;
	border: 1px solid gray;
        font-size: 13px;
    }
    td {
	text-align: left;
	border: 1px solid gray;
        font-size: 13px;
    }
    textarea {
	font-size: 10px;
	overflow: hidden;
    }

    </style>
  </head>
  <body>
    <center>
      <img width="75px" height="75px" src="/static/images/unl_logo.png"/>
      <h4> 
      {{ "Unversidad Nacional de Loja"|upper }}  <br/>
      Comisión de Evaluación Interna <br/>
      EVALUACIÓN DEL DESEMPEÑO ACADÉMICO <p/>
      {{ "Resultados Evaluación Actividades Adicionales a la Docencia Septiembre 2011 - Julio 2012"|upper }}

      <!-- Tabla de encabezado -->

      <table id="tabla-docente" width="100%" border="0">
	<tr>
	  <td width="10%"><b>AREA</b></td> <td width="90%">{{ area }}</td>
	</tr>
	<tr>
	  <td width="10%"><b>CARRERA</b></td> <td width="90%">{{ carrera }}</td>
	</tr>
	<tr>
	  <td width="10%"><b>DOCENTE</b></td> <td width="90%">{{ docente }}</td>
	</tr>
      </table>

      <!-- Tabla Central -->

      <table id="tabla-resultados" width="100%" cellspacing="0" >
	<th rowspan="3" colspan="2" style="width: 80%;"> ACIVIDADES </th>
	<th colspan="4"> INFORMANTES </th>
	<th rowspan="3"> Fuente de Verificación </th>
	<tr>
	  <th colspan="2"> COMISION </th>
	  <th colspan="2"> DOCENTE </th>
	</tr>
	<tr>
	  <th width="4%"> Esc. </th>
	  <th width="4%"> % </th>
	  <th width="4%"> Esc. </th>
	  <th width="4%"> % </th>
	</tr>
	{% for seccion in contestaciones.secciones %}
	<tr>
	  <td colspan="7"> <b> {{ seccion.titulo|upper }} </b> </td> 
	</tr>
	{% for r in seccion.resultados %}
	<tr>
	  <td width="4%"> {{ r.codigo }} </td>
	  <td width="70%" style=""> {{ r.texto }}  </td>
	  <td style="text-align: center;"> {{ r.valor_comision }} </td>
	  <td style="text-align: center;"> {%if r.porcentaje_comision%} {{ r.porcentaje_comision }}% {%endif%}</td>
	  <td style="text-align: center;"> {{ r.valor_docente }} </td>
	  <td style="text-align: center;"> {%if r.porcentaje_docente%} {{ r.porcentaje_docente }}% {%endif%}</td>
	  <td> 
	    <textarea readonly="readonly" rows="4">COMISION: {{ r.observaciones_comision }} DOCENTE: {{ r.observaciones_docente }}  </textarea>
	  </td>
	</tr>
	{% endfor %}
	{% endfor %}
      </table>

      <!-- Tabla de Resultados -->

      <table width="100%">
	<tr>
	  <td width="70%"> <h3> Número de Actividades:  </h3></td>
	  <td colspan="2" style="text-align: center;"> <h3> {{ contestaciones.num_actividades }} </h3> </td>
	</tr>
	<tr> 
	  <td rowspan="2"> <h3> Valoración Global Actividades Adicionales: </h3></td>
	  <td style="text-align: center;"> <h3> Comision: {{ porcentaje1|floatformat:"2" }}% </h3> </td>
	  <td style="text-align: center;"> <h3> Docente: {{ porcentaje2|floatformat:"2" }}% </h3> </td>
	</tr>
	<tr>
	  <td colspan="2" style="text-align: center; vertical-align: center;"> <h1> {{ total|floatformat:"2" }}% </h1> </td>	  
	</tr>
      </table>

      <div id="pie" style="font-size: 9px; color: #666666">
	<hr style="margin-bottom: 6px;"/>
	Unidad de Telecomunicaciones e Infomacion - Departamento de Desarrollo de Software <br>
	Correo Sistema de Evaluacion: 
	<a href="mailto:evaluacion.docente@unl.edu.ec"> <u>evaluacion.docente@unl.edu.ec</u> </a> <br/>
	Loja - Ecuador
      </div>

    </center>
  </body>
</html>
