<html>
  <head>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> Resultados Evaluación del Desempeño Académico 2012 - 2013 </title>
    <style type="text/css" media="screen, print">
	
	@page { size: landscape; }  
	
    body {
		font-family: Helvetica, Arial, Sans;
    }
    table {
		margin-top: 10px;
		margin-bottom: 10px;
		width: 95%;
		borderspacing: 0;
    }
    th {
		text-align: center;
		border: 1px solid gray;
    }
    td {
		text-align: center;
		border: 1px solid gray;
		font-size: 13px;
    }
    textarea {
		font-size: 10px;
		overflow: hidden;
    }
	.promedio_componente td {
		text-decoration: overline;
	/*font-size: 0%; */
	}
	.small-title {
		font-weight: bold;
		font-size: 11px;
	}
	.salto-pagina {
	    display: block;
	    page-break-after: always;
	}
	.vacio{
	    display: none;
	}
    </style>
  </head>

  <body>
    <center>
      <img width="70px" height="70px" src="/static/images/unl_logo.png"/>
      <h4> 
      {{ "Unversidad Nacional de Loja"|upper }}  <br/>
      Comisión de Evaluación Interna <br/>
      EVALUACIÓN DEL DESEMPEÑO ACADÉMICO <p/>
      {{ "Acta de Resultados de la Evaluación del Desempeño Docente 2012"|upper }}

      <!-- Tabla de encabezado -->

      <table id="tabla-informacion"  border="0">
		{% if area %}
		<tr>
		  <td width="10%"><b>AREA</b></td> <td style="text-align: left;" width="90%">{{ area }}</td>
		</tr>
		{% endif %}
		{% if carrera %}
		<tr>
		  <td width="10%"><b>CARRERA</b></td> <td style="text-align: left;" width="90%">{{ carrera }}</td>
		</tr>
		{% endif %}
		{% if docente %}
		<tr>
		  <td width="10%"><b>DOCENTE</b></td> <td style="text-align: left;" width="90%">{{ docente }}</td>
		</tr>
		{% endif %}
	  </table>

	  <!-- Si se filtra por Componente -->
	  {% if seccion_componente  %}
	  <table>
		<tr>
		  <td style="text-align: left;">
			<h2> {{ seccion_componente.titulo }}:</h2> 
		  </td>
		  <td style="text-align: left;">
			<h3> {{ seccion_componente.descripcion }} </h3>
		  </td>
		</tr>
      </table>
	  {% endif %}	  

      <!-- Tabla Central -->

      <table id="tabla-resultados" cellspacing="0" >
		<tr>
		  <th rowspan="3" colspan="2" width="35%">  DESCRIPCIÓN DE LOS INDICADORES DE CALIDAD </th>
		  <th colspan="4" width="40%">  INFORMANTES </th>
		  <th colspan="3" width="25%">  EVALUACIÓN </th>
		</tr>
		<tr>
		  <th rowspan="2" class="small-title" width="10%"> ESTUDIANTES </th>
		  <th rowspan="2" class="small-title" width="10%"> DOCENTES </th>
		  <th colspan="2" class="small-title" width="10%"> COMISIÓN ACADÉMICA </th>
		  <th rowspan="2" class="small-title" width="10%"> PRIMARIA </th>
		  <th rowspan="2" class="small-title" width="10%">  PONDERAD. </th>
		  <th rowspan="2" class="small-title" width="5%"> CUALITAT. </th>
		</tr>
		<tr> 
		  <th class="small-title" width="10%"> PAR ACAD. </th>
		  <th class="small-title" width="10%"> DIRECTIVO </th>
		</tr>

		<!-- for: indicador, resultado -->
		{% for i, r in resultados_indicadores.items %}

		<!-- Titulos de los componentes -->
		{# Titulos de los diferentes componentes o secciones #}
		{% ifchanged r.objeto_seccion.superseccion.codigo %}
		{# Para acortar el nombre del objeto #}
		{% with superseccion=r.objeto_seccion.superseccion %}
		<tr> 
		  <td colspan="9" style="text-align: left;">
			<b>
			  COMPONENTE {{ superseccion.orden }}: {{ superseccion.titulo|upper }} ({{ superseccion.descripcion }})
			</b>
		  </td> 
		</tr>
		{% endwith %}
		{% endifchanged %}

		<!-- Cada uno de los indicadores -->

		<tr>
		  <td style="text-align: justify; font-size: 9px;" width="28%"> 
			{{ r.objeto_seccion.descripcion }} 
		  </td>
		  <td width="7%">
			{{ i }} 
		  </td>
		  <td> 
		  {% if r.informantes.estudiante >= 0 %} {{ r.informantes.estudiante }} % {% else %} - {% endif %} 
		  </td>
		  <td> 
		  {% if r.informantes.docente >= 0 %} {{ r.informantes.docente  }} % {% else %} - {% endif %}
		  </td>
		  <td> 
			{% if r.informantes.paracademico >= 0 %} {{ r.informantes.paracademico }} % {% else %} - {% endif %} 
		  </td>
		  <td> 
		  {% if r.informantes.directivo >= 0%} {{ r.informantes.directivo }} % {% else %} - {% endif %} 
		  </td>
		  <td> 
		  {% if r.primaria >= 0 %} {{ r.primaria|floatformat:"0" }} % {% else %} - {% endif %}
		  </td>
		  <td> {{ r.ponderada|floatformat:"2" }}<b>/</b>{{ r.ponderacion_seccion }} </td>
		  <td> {{ r.cualitativa }} </td>
		</tr>

		<!-- Totales por Componente -->
		{% if promedios_componentes %} <!-- if promedios_componentes -->
		{# Total CPF #}
		{% ifequal forloop.counter promedios_componentes.CPF.fila %}
		<tr class="promedio_componente"> 
		  <td colspan="2" style="text-align: left;"> 
			TOTAL {{ r.objeto_seccion.superseccion.titulo }}
		  </td>  
		  <td> 
			{{ promedios_componentes.CPF.estudiante }} %
		  </td>
		  <td> 
			{{ promedios_componentes.CPF.docente }} %
		  </td>
		  <td> 
			{{ promedios_componentes.CPF.paracademico }} %
		  </td>
		  <td> 
			{{ promedios_componentes.CPF.directivo }} %
		  </td>
		  <td> 
			{{ promedios_componentes.CPF.primaria|floatformat:"0" }} %
		  </td>
		  <td> 
			{{ promedios_componentes.CPF.ponderada|floatformat:"2" }} / {{ r.objeto_seccion.superseccion.ponderacion }}
		  </td>
		  <td> 
			{{ promedios_componentes.CPF.cualitativa }} 
		  </td>
		</tr>
 		{% endifequal %}

		{# Total CPG #}
		{% ifequal forloop.counter promedios_componentes.CPG.fila %}
		<tr class="promedio_componente"> 
		  <td colspan="2" style="text-align: left;"> 
			TOTAL {{ r.objeto_seccion.superseccion.titulo }}
		  </td>  
		  <td> 
			{{ promedios_componentes.CPG.estudiante }} %
		  </td>
		  <td> 
			{{ promedios_componentes.CPG.docente }} %
		  </td>
		  <td> 
			{{ promedios_componentes.CPG.paracademico }} %
		  </td>
		  <td> 
			{{ promedios_componentes.CPG.directivo }} %
		  </td>
		  <td> 
			{{ promedios_componentes.CPG.primaria|floatformat:"0" }} %
		  </td>
		  <td> 
			{{ promedios_componentes.CPG.ponderada|floatformat:"2" }} / {{ r.objeto_seccion.superseccion.ponderacion }}
		  </td>
		  <td> 
			{{ promedios_componentes.CPG.cualitativa }} 
		  </td>
		</tr>
 		{% endifequal %}

		{# Total PV #}
		{% ifequal forloop.counter promedios_componentes.PV.fila %}
		<tr class="promedio_componente"> 
		  <td colspan="2" style="text-align: left;"> 
			TOTAL {{ r.objeto_seccion.superseccion.titulo }}
		  </td>  
		  <td> 
			{{ promedios_componentes.PV.estudiante }} %
		  </td>
		  <td> 
			{{ promedios_componentes.PV.docente }} %
		  </td>
		  <td> 
			{{ promedios_componentes.PV.paracademico }} %
		  </td>
		  <td> 
			{{ promedios_componentes.PV.directivo }} %
		  </td>
		  <td> 
			{{ promedios_componentes.PV.primaria|floatformat:"0" }} %
		  </td>
		  <td> 
			{{ promedios_componentes.PV.ponderada|floatformat:"2" }} / {{ r.objeto_seccion.superseccion.ponderacion }}
		  </td>
		  <td> 
			{{ promedios_componentes.PV.cualitativa }} 
		  </td>
		</tr>
 		{% endifequal %}
		{% endif %} <!-- end if promedios_componentes -->

		{% endfor %} 
		<!-- end for: indicador,  resultado -->
		
		<!-- Fila Resultados -->
		<tr>
		  <td colspan="9"> 
			&nbsp;
		  </td>
		</tr>
		<tr>
		  <td colspan="2"> <b> VALORACIÓN TOTAL OBTENIDA: </b> </td>
		  <td> {{ promedios.estudiante|floatformat:"2" }} % </td>
		  <td> {{ promedios.docente|floatformat:"2" }} % </td>
		  <td> {{ promedios.paracademico|floatformat:"2" }} % </td>
		  <td> {{ promedios.directivo|floatformat:"2" }} % </td>
		  <td> <b> {{ promedios.primaria }} %  </b> </td>
		  <td> <b> {{ promedios.ponderada|floatformat:"2" }} / 100 </b> </td>
		  <td> <b> {{ promedios.cualitativa }} </b> </td>
		</tr>

	  </table>


	  <table id="tabla-escala" cellspacing="0">
		<tr> 
		  <td style="text-align: left;"> 
			<b> D </b> = Destacado |
			<b> S </b> = Sastisfactorio | 
			<b> PS </b> = Poco Satistactorio |
			<b> IS </b> = Insatisfactorio
		  </td>
		</tr>
	  </table>
	  <p style="font-size: 12px;">
		Las evidencias con las que se evaluó el desempeño del docente se encuentran en su carpeta profesional y 
		forman parte del expediente general del informe de cada carrera.
	  </p>
	  <a href='javascript:window.print();'> 
		<img src="http://capacinet.gob.mx/Cursos/Aprendamos%20Juntos/finanzaspersonales/imagenes/icono_imprimir.jpg"/> 
	  </a>
      <div id="pie" style="font-size: 9px; color: #666666">
		<hr style="margin-bottom: 6px;"/>
		Unidad de Telecomunicaciones e Infomacion - Departamento de Desarrollo de Software <br>
		Correo Sistema de Evaluacion: 
		<a href="mailto:evaluacion.docente@unl.edu.ec"> <u>evaluacion.docente@unl.edu.ec</u> </a> <br/>
		Loja - Ecuador
      </div>

	  <div class="salto-pagina">
		<span class="vacio">&nbsp;</span>
	  </div>

    </center>
  </body>
</html>
