<html>
  <head>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> Resultados Evaluación del Desempeño Académico 2012 - 2013 </title>
    <style type="text/css">
    body {
	font-family: Helvetica, Arial, Sans;
    }
    table {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 75%;
	borderspacing: 0;
    }
    th {
	text-align: center;
	border: 1px solid gray;
        font-size: 13px;
    }
    td {
	text-align: left;
	border: 1px solid gray;
        font-size: 13px;
    }
    textarea {
	font-size: 10px;
	overflow: hidden;
    }

    </style>
  </head>
  <body>
    <center>
      <img width="75px" height="75px" src="/static/images/unl_logo.png"/>
      <h4> 
      {{ "Unversidad Nacional de Loja"|upper }}  <br/>
      Comisión de Evaluación Interna <br/>
      EVALUACIÓN DEL DESEMPEÑO ACADÉMICO <p/>
      {{ "Resultados de la Evaluación del Desempeño Académico 2012-2013"|upper }}

      <!-- Tabla de encabezado -->

      <table id="tabla-docente" width="100%" border="0">
		<tr>
		  <td width="10%"><b>AREA</b></td> <td width="90%">{{ area }}</td>
		</tr>
		<tr>
		  <td width="10%"><b>CARRERA</b></td> <td width="90%">{{ carrera }}</td>
		</tr>
		<tr>
		  <td width="10%"><b>DOCENTE</b></td> <td width="90%">{{ docente }}</td>
		</tr>
      </table>
	  
      <!-- Tabla Central -->

      <table id="tabla-resultados" width="100%" cellspacing="0" >
	  </table>

      <!-- Tabla de Resultados -->

      <table width="100%">
	  </table>

      <div id="pie" style="font-size: 9px; color: #666666">
		<hr style="margin-bottom: 6px;"/>
		Unidad de Telecomunicaciones e Infomacion - Departamento de Desarrollo de Software <br>
		Correo Sistema de Evaluacion: 
		<a href="mailto:evaluacion.docente@unl.edu.ec"> <u>evaluacion.docente@unl.edu.ec</u> </a> <br/>
		Loja - Ecuador
      </div>

    </center>
  </body>
</html>
