<html>
  <head>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> Resultados Evaluación del Desempeño Docente </title>
    <style type="text/css">
    body {
	font-family: Helvetica, Arial, Sans;
    }
    table {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 75%;
	borderspacing: 0;
    }
    th {
	text-align: center;
	border: 1px solid gray;
        font-size: 13px;
    }
    td {
	text-align: left;
	border: 1px solid gray;
    font-size: 12px;
	vertical-align: middle;
    }
    textarea {
	font-size: 10px;
	overflow: hidden;
    }
	.salto-pagina {
	    display: block;
	    page-break-after: always;
	}
	.vacio{
	    display: none;
	}
    </style>
  </head>
  <body>
    <center>
      <img width="75px" height="75px" src="http://t0.gstatic.com/images?q=tbn:ANd9GcSdhr9rEDXwrM4Hd_Xz_k_RaYGhy-1qd9xTbMVCejjfcIMTV9EE"/>
      <h4> 
      {{ "Unversidad Nacional de Loja"|upper }}  <br/>
      Comisión de Evaluación Interna <br/>
      EVALUACIÓN DEL DESEMPEÑO ACADÉMICO <p/>
      {{ "Acta de Resultados de la Evaluación del Desempeño Docente 2012"|upper }}

      <!-- Tabla de encabezado -->

      <table id="tabla-docente" width="100%" border="0">
		{% if area %}
		<tr>
		  <td width="10%"><b>AREA</b></td> <td style="text-align: left;" width="90%">{{ area }}</td>
		</tr>
		{% endif %}
		{% if carrera %}
		<tr>
		  <td width="10%"><b>CARRERA</b></td> <td style="text-align: left;" width="90%">{{ carrera }}</td>
		</tr>
		{% endif %}
		{% if carrera_senescyt %}
		<tr>
		  <td width="10%"><b>CODIGO CARRERA</b></td> <td style="text-align: left;" width="90%">{{ carrera_senescyt }}</td>
		</tr>
		{% endif %}

	  </table>

      <!-- Tabla Central -->

      <table id="tabla-resultados" width="100%" cellspacing="0" >
		{% for docente, informantes in sugerencias.items %}
		<tr>
		  <td colspan="3"> <h2> {{ docente }} </h2></td>
		</tr>
		{% for informante, resultados in informantes.items %}
		<tr> 
		  <td colspan="3"> 
			<h3> 
			  <center> 
				{% ifequal informante 'ParAcademico' %}
				INFORMANTE {{ "Par Academico"|upper }}  
				{% else %}
				INFORMANTE {{ informante|upper }}  
				{% endifequal %}
			  </center> 
			  <h3> 
		  </td>
		</tr>
		<tr>
		  <h3> 
			<td width="33%"> <b> CAPACIDAD PROFESIONAL </b> </td>
			<td width="33%"> <b> CAPACIDAD PEDAGÓGICA </b> </td>
			<td width="33%"> <b> PRÁCTICA DE VALORES </b> </td>
		  </h3> 
		</tr>
		{% for r in resultados %}
		<tr>		
		  <td width="33%" style="word-break: break-all;"> {{ r.CPF }} </td>
		  <td width="33%" style="word-break: break-all;"> {{ r.CPG }} </td>
		  <td width="33%" style="word-break: break-all;"> {{ r.PV }} </td>
		</tr>
		{% endfor %}
		{% endfor %}
		{% endfor %}
	  </table>
	  <p style="">
		Las evidencias con las que se evaluó el desempeño del docente se encuentran en su carpeta profesional y 
		forman parte del expediente general del informe de cada carrera.
	  </p>
	  <!--a href='javascript:window.print();'> 
		<img src="http://capacinet.gob.mx/Cursos/Aprendamos%20Juntos/finanzaspersonales/imagenes/icono_imprimir.jpg"/> 
	  </a-->
	  <div id="pie" style="font-size: 9px; color: #666666">
		<hr style="margin-bottom: 6px;"/>
		Unidad de Telecomunicaciones e Infomacion - Departamento de Desarrollo de Software <br>
		Correo Sistema de Evaluacion: 
		<a href="mailto:evaluacion.docente@unl.edu.ec"> <u>evaluacion.docente@unl.edu.ec</u> </a> <br/>
		Loja - Ecuador
      </div>

	  <!-- Para resultados consolidados de varios docentes o varias carreras -->
	  <div class="salto-pagina">
		<span class="vacio">&nbsp;</span>
	  </div>

    </center>
  </body>
</html>
