<html>
  <head>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> Resultados Encuesta de Satisfacción Estudiantil 2012 </title>
    <style type="text/css">
    body {
	font-family: Helvetica, Arial, Sans;
    }
    table {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 75%;
	borderspacing: 0;
    }
    td, th {
	text-align: center;
	vertical-align: middle;
	border: 1px solid gray;
    font-size: 13px;
    /*width: 20%;*/
    }
    </style>
  </head>
  <body>
    <center>
      <img width="75px" height="75px" src="/static/images/unl_logo.png"/>
 
      {{ titulo|safe }}

      <!-- Datos academicos de los estudiantes que evaluaron al Docente -->
      {% if datos_evaluadores %}
      <table width="100%" cellspacing="0" style="font-size: 8px;">
	<tr>
	    <td> <i> Ciclo/Modulo </i> </td>
	    <td> <i> Paralelo </i> </td>
	    <td> <i> Asignaturas </i> </td>
	</tr>
      {% for de in datos_evaluadores %}
	<tr>
	  <td> {{ de.semestre }} </td>
	  <td> {{ de.paralelo }} </td>
	  <td> {{ de.asignatura }} </td>
	</tr>
      {% endfor %}
      </table>
      {% endif %}

      <!-- Seccion principal de Resultados -->
      <table  width="100%" cellspacing="0">
		<th rowspan="2" width="40%"> Indicadores </th>
		<th colspan="4"> Niveles de Satisfacción  </th>
		<tr>
		  <th width="15%"> Muy Satisfecho <br/> MS (4) </th>
		  <th width="15%"> Satisfecho <br/> S (3) </th>
		  <th width="15%"> Poco Satisfecho <br/> PS (2) </th>
		  <th width="15%"> Insatisfecho <br/> INS (1) </th>
		</tr>
		{% for c in conteos %}
		{% ifchanged c.pregunta.seccion %} 
		<td colspan="5" style="text-align: left;"> 
		  <b> COMPONENTE {{ c.pregunta.seccion.orden }}: {{ c.pregunta.seccion.titulo|upper }} </b> 
		</td> 
		{% endifchanged %}
		<tr>
		  <td style="text-align: justify; font-size: 9px;"> 
			<b>{{ c.pregunta.seccion.orden }}.{{c.pregunta.orden}}</b>
			{{ c.pregunta|safe }}
		  </td>
		  <td> {{ c.MS }} </td>
		  <td> {{ c.S }} </td>
		  <td> {{ c.PS }} </td>
		  <td> {{ c.INS }} </td>
		</tr>
		{% endfor %}
	  
		{% if totales and porcentajes %}
		<tr>
		  <td colspan="5"><h2> Resultados Totales </h1></td>
		</tr>
		<tr>
		  <td> Suman ( {{ totales.total }} ) </td>
		  <td> {{ totales.MS }} </td>
		  <td> {{ totales.S }} </td>
		  <td> {{ totales.PS }} </td>
		  <td> {{ totales.INS }} </td>
		</tr>
		<tr>
		  <td> % de Estudiantes que declaran su Satisfacción </td>
		  <td> {{ porcentajes.MS|floatformat:"-2" }}% </td>
		  <td> {{ porcentajes.S|floatformat:"-2" }}% </td>
		  <td> {{ porcentajes.PS|floatformat:"-2" }}% </td>
		  <td> {{ porcentajes.INS|floatformat:"-2" }}% </td>
		</tr>
		<tr>
		  <td> % de Estudiantes que se declaran Satisfechos </td>
		  <td colspan="2"> {{ porcentajes.MSS|floatformat:"-2" }} % </td>
		  <!--td colspan="2"> {#{ porcentajes.MS|add:porcentajes.S }#}% </td-->
		  <td colspan="2"> </td>
		</tr>
      {%endif%}
      </table> <!-- Fin tabla principal -->

      <div id="pie" style="font-size: 9px; ; color: #666666">
	<hr style="margin-bottom: 6px;"/>
	Unidad de Telecomunicaciones e Infomacion - Departamento de Desarrollo de Software <br>
	Correo Sistema de Evaluacion: 
	<a href="mailto:evaluacion.docente@unl.edu.ec"> <u>evaluacion.docente@unl.edu.ec</u> </a> <br/>
	Loja - Ecuador
      </div>

    </center>
  </body>
</html>
