{%  extends "admin/base_site.html" %}

{% block content_title %}

{% endblock %}

{% block content %}

<p/>

<!-- Estudiante -->
{% if request.session.estudiante %}
{% if request.session.carreras_estudiante|length > 0 %}
<h1> Campos del Conocimiento  del Estudiante </h1>
<ul style="margin-top: 20px;">
  {% for carrera in request.session.carreras_estudiante %}
  <h1> 
    <li> 
      <a href="{% url proyecto.app.controllers.estudiante_asignaturas_docentes carrera.num_carrera %}"> 
	{{ carrera.nombre|upper }} 
      </a> 
    </li> 
    <h1>
  {% endfor %}
</ul>
<hr/>
{% endif %}
{% endif %} 

<!-- End Estudiante -->


<!-- Docente -->

{% if request.session.docente %}
<h1> Encuestas para Autoevaluación del Docente </h1>
<!--ul style="margin-top: 20px;"-->
  <!--h3--> 
      {#% for cuestionario in request.session.cuestionarios_docente %#}
      <!-- Se recorren los cuestionarios para autoevaluacion con su estado --> 
      {% for da in request.session.docente_autoevaluaciones %}
      <ul class="{% if da.evaluado %} messagelist {% endif %}" 
	  {% if forloop.first %} style="margin-top: 20px;" {% endif %}>
	<h3>
	<li>
	  {% if da.evaluado %}
	  {{ da.cuestionario.titulo|upper }}
	  {% else %}
	  <a href="{% url encuestas id_docente=request.session.docente.id id_asignatura=0 id_tinformante=5 id_cuestionario=da.cuestionario.id %}">
	  {{ da.cuestionario.titulo|upper }}
	  </a>
	  {% endif %}
	</li>
	</h3>
      </ul>
      {% empty %}
      <ul>
	<h3> No existen encuestas para el Docente el presente Periodo.</h3>
      </ul>
      {% endfor %}
  <!--/h3-->
<!--/ul-->  
<hr/>
{% endif %} 

<!-- Fin Docente -->


<!-- Par Academico -->

{% if request.session.docente.parAcademico %}

<h1 style="margin-top: 20px;"> Encuestas para Pares Académicos de la Carrera </h1>
<ul style="margin-top: 20px;">
  {% if not request.session.cuestionarios_pares_academicos %} 
  <h3> No existen encuestas para Pares Académicos en el presente Periodo.</h3>
  {% else %}
  {% for carrera in request.session.carreras_pares_academicos %}
  <h3> 
    <li>
      <a href="{% url pares_academicos_docentes carrera.num_carrera %} ">
	SELECCIONAR DOCENTES DE LA CARRERA {{ carrera.nombre|upper }} [{{ carrera.area|upper }}]
      </a> 
    </li> 
  </h3>
  {% endfor %}
  {% endif %}
</ul>
<hr/>
{% endif %}
<!-- Fin Par Academico -->


<!-- Evaluciones Director de Carrera  --> 

{% if request.session.docente.direcciones.count > 0 %}

<h1 style="margin-top: 20px;"> Encuestas para Coordinadores Carrera </h1>
<ul style="margin-top: 20px;">
  {% if not request.session.cuestionarios_directivos %} 
  <h3> No existen encuestas para los Coordinadores en el presente Periodo.</h3>
  {% else %}
  {% for carrera in request.session.carreras_director %}
  <h3> 
    <li>
      <a href="{% url director_docentes carrera.num_carrera %} ">
	SELECCIONAR DOCENTES DE LA CARRERA {{ carrera.nombre|upper }} [{{ carrera.area|upper }}]
      </a> 
    </li> 
  </h3>
  {% endfor %}
  {% endif %}
</ul>
<hr/>

<!-- Fin Evaluaciones Director de Carrera -->

<!-- Resultados -->  

<h1 style="margin-top: 20px;"> Resultados de Evaluaciones de la Carrera </h1>
<ul style="margin-top: 20px;">
  {% for carrera in request.session.carreras_director %}
  <h3> 
    <li>
      <a href="/resultados/carrera/{{ carrera.num_carrera }}/">
	RESULTADOS DE EVALUACIONES CARRERA {{ carrera.nombre|upper }} [{{ carrera.area|upper }}]</a> 
    </li> 
  </h3>
  {% endfor %}
</ul>
<hr/>

{% endif %} 

<!-- Fin Resultados -->


{% endblock %}

