{%  extends "admin/base_site.html" %}

{% block content_title %}

{% endblock %}

{% block content %}

<p/>
{% if request.session.estudiante %}
{% if request.session.carreras_estudiante|length > 0 %}
<h1> Carreras del Estudiante </h1>
<ul style="margin-top: 20px;">
  {% for carrera in request.session.carreras_estudiante %}
  <h1> 
    <li> 
      <a href="{% url proyecto.app.controllers.estudiante_asignaturas_docentes carrera.num_carrera %}"> 
	{{ carrera.nombre|upper }} 
      </a> 
    </li> 
    <h1>
  {% endfor %}
</ul>
<hr/>
{% endif %}
{% endif %} <!-- Estudiante -->


{% if request.session.docente %}

<h1> Encuestas para Autoevaluación del Docente </h1>
<ul style="margin-top: 20px;">
  <h3> 
    <li>
      <a href="{% url docente_autoevaluaciones %}"> 
	Seleccione la Autoevaluación 
      </a> 
      <!--a href="{#% url encuestas id_docente=request.session.docente.id id_asignatura=0 id_direccion=0 %}"> 
	{{ cuestionario.titulo|upper }#} 
      </a--> 
    </li> 
  </h3>
</ul>  
<hr/>
<!-- Si es docente director/coordinador de carrera --> 
{% if request.session.docente.direcciones|length > 0 %}

<h1 style="margin-top: 20px;"> Encuestas para Comisión Académica de Carrera </h1>
<ul style="margin-top: 20px;">
  {% if not request.session.cuestionarios_directivos %} 
  <h3> No existen encuestas para la Comisión Académica en el presente Periodo.</h3>
  {% else %}
  {% for carrera in request.session.carreras_director %}
  <h3> 
    <li>
      <a href="{% url proyecto.app.controllers.director_docentes carrera.num_carrera %} ">
	SELECCIONAR DOCENTES DE LA CARRERA {{ carrera.nombre|upper }} [{{ carrera.area|upper }}]
      </a> 
    </li> 
  </h3>
  {% endfor %}
  {% endif %}
</ul>
<hr/>

<h1 style="margin-top: 20px;"> Resultados de Evaluaciones de la Carrera </h1>
<ul style="margin-top: 20px;">
  {% for carrera in request.session.carreras_director %}
  <h3> 
    <li>
      <a href="/resultados/carrera/{{ carrera.num_carrera }}/">
	RESULTADOS DE EVALUACIONES CARRERA {{ carrera.nombre|upper }} [{{ carrera.area|upper }}]</a> 
    </li> 
  </h3>
  {% endfor %}
</ul>
<hr/>
{% endif %} <!-- Coordinación de carrera-->

{% endif %} <!-- Docente -->

{% endblock %}

