<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
<head> 
<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 

<!-- Title --> 
<title>SEDD-UNL</title>

<!-- Link to the stylesheet -->
<link href="/static/style.css" type="text/css" rel="stylesheet" /> 
<!-- Scripts in js -->
<!--script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script-->
<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/static/js/efectos.js"></script>
	
</head>
<body>

<!-- Main Block -->
<div id="wrapper">

	<!-- Header -->
	<div id="header">
		<div id="logo">
			<a href="#"><img src="/static/images/logo.jpg" /></a>
		</div>
		<div id="slogan">
			<img src="/static/images/slogan.jpg" />
		</div>
	</div>
	<!-- End header -->

	<!-- Content -->
	<div id="content">
	
		<!-- Menu -->
		<div id="menu">
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="/login/">Acceso al sistema</a></li>
				<li><a href="http://www.unl.edu.ec">Acerca de...</a></li>	
			</ul>
		</div>
		<!-- End menu -->

		<!-- Left column -->
		<div id="left">
			<h1 style="color: #8EAD45;"> Bienvenidos al sistema de evaluación de docentes de la UNL</h1>
			<p> 
			  {% if periodoEvaluacionActual %}
			  <a href="{% url proyecto.app.controllers.login %}">
			    >>> <u> <b style="color: black; font-weight: 250%; font-size: 14px;"> 
				{{ periodoEvaluacionActual.titulo|upper }} </b>  </u>
			  </a>
			  {% else %}
			  >>> <b> No existen Procesos de Evaluacion actualmente </b>
			  {% endif %}

			</p>
			<p>
			  {% if periodoEvaluacionActual %}
			  {{ periodoEvaluacionActual.descripcion }} <br/>
			  
			  (Desde 
			  <b>
				{{ periodoEvaluacionActual.inicio|date:"l"|title }} 
				{{ periodoEvaluacionActual.inicio }} 
			  </b>
			  hasta  
			  <b>
				{{ periodoEvaluacionActual.fin|date:"l"|title }} 
				{{ periodoEvaluacionActual.fin }})
			  </b>
			  {% endif %}
			</p>

		</div>
		<!-- End left column -->
		
		<!-- Right column -->
		<div id="right">
			<img src="/static/images/coffe.jpg" />
			<div id="caption">
					<p>&quot;En los tesoros de la sabiduría está la glorificación de la vida&quot;.</p>
			</div>
		</div>
		<!-- End right column -->
		<div class="clear"></div>
	</div>
	<!-- End content -->
	
	<!-- Footer -->
	<div id="footer">
		<p>2012 &copy; Design by Iceman.</p>
	</div>
	<!-- End footer -->
	
</div>
<!-- End Main Block -->

</body>
</html>
