Django==1.11.28
MySQL-python==1.2.4
SOAPpy==0.12.1
South==0.7.6
django-extensions==1.0.0
django-mailer==0.1.0
django-piston==0.2.3
html5lib==0.95
lxml==2.3.4
ordereddict==1.1
pisa==3.0.33
psycopg2==2.4.5
reportlab==2.6
wsgiref==0.1.2
