<script type="text/javascript">
	$(document).ready(function(){
		/* 
		 * Por defecto el resporte de sugerencias (otros aspectos)
		 * se genera por carrera pero se puede generar por docente
		 * seleccionandolo en el SELECT del literal a.
		 */
		$('#id_campos').change(function(){
			// var v = $('#id_campos option:selected').val();
			var t = $('#id_campos option:selected').text();
			var cmp = t.toLowerCase().match('otros aspectos$');
			if (cmp != null){
				alert("Seleccione el docente en la lista del literal a.)");
			}
		});
	});
</script>

<style type="text/css">
input[type=radio] {
    margin-top: 7px;

}
fieldset{
    margin: 15px 0px 15px 0px;
    width: 75%;
    padding: 10px 20px 10px 20px;
}
#id_campos, #id_indicadores{
    width: 75%;
}

</style>
<fieldset id="form">
  <legend> Opciones de Resultados </legend>
  <ol type="a">
	<li><label for="id_opciones_0"><input type="radio" id="id_opciones_0" value="a" name="opciones" /> 
	La valoración global de la Satisfacción Estudiantil por DOCENTE</label></li>
	<ul>
	  <li> {{ form.docentes }}</li>
	</ul>
	<!--/li-->
	<li>
	  <label for="id_opciones_1"><input type="radio" id="id_opciones_1" value="b" name="opciones" /> 
	  La valoracion global de la Satisfacción Estudiantil por CARRERA</label>
	</li>
	<li><label for="id_opciones_2"><input type="radio" id="id_opciones_2" value="c" name="opciones" /> 
	La valoracion  de la Satisfacción Estudiantil en cada uno de los CAMPOS, por carrera</label> 
	<ul>
	  <li> {{ form.campos }}</li>
	</ul>
	</li>
	
	<li>
	  <label for="id_opciones_3"><input type="radio" id="id_opciones_3" value="d" name="opciones" /> 
	  La valoración estudiantil en cada uno de los INDICADORES por carrera</label>
	  <ul>
		<li>{{ form.indicadores }} </li>
	  </ul>
	</li>

	<li>
	  <label for="id_opciones_4"><input type="radio" id="id_opciones_4" value="e" name="opciones" /> 
	  Los 10 indicadores de mayor SATISFACCIÓN en la Carrera</label>
	</li>
	<li>
	  <label for="id_opciones_5"><input type="radio" id="id_opciones_5" value="f" name="opciones" /> 
	  Los 10 indicadores de mayor INSATISFACCIÓN en la Carrera</label>
	</li>

	<li>
	  <label for="id_opciones_6"><input type="radio" id="id_opciones_6" value="g" name="opciones" /> 
	  Listado de Docentes y Calificaciones</label>
	</li>

  </ol>
</fieldset>


