<style type="text/css">
input[type=radio] {
    margin-top: 7px;

}
fieldset{
    margin: 15px 0px 15px 0px;
    width: 75%;
    padding: 10px 20px 10px 20px;
}
#id_campos, #id_indicadores{
    width: 75%;
}

</style>
<fieldset>
  <legend> Opciones de Resultados </legend>

  <table>
	<tr>
	  <!-- Columna 1 --> 
	  <td style="border-right: 1px solid;">
		<b>Seleccione el tipo de Reporte:</b>
		<ol type="a">
		  <li>
			<label for="id_opciones_0">
			  <input type="radio" id="id_opciones_0" value="a" name="opciones" checked="checked"/>  
			  Resultados POR DOCENTE 
			</label>
		  </li>
		  <ul>
			<li> {{ form.docentes }} </li>
		  </ul>
		  
		  <li>
			<label for="id_opciones_1">
			  <input type="radio" id="id_opciones_1" value="b" name="opciones" />  
			  Resultados POR CARRERA
			</label>
		  </li>

		  <li>
			<label for="id_opciones_2">
			  <input type="radio" id="id_opciones_2" value="c" name="opciones" />  
			  Resultados POR AREA
			</label>
		  </li>

		</ol>
	  </td>

	  <!-- Columna 2 -->
	  <td>
		<b> Seleccione el Campo Específico: </b>
		<ol type="a">
		  <li>
			<label for="id_filtros_0">
			  <input type="radio" id="id_filtros_0" value="a" name="filtros" checked="checked"/> 
			  Todos los CAMPOS
			</label>
		  </li>

		  <li>
			<label for="id_filtros_1">
			  <input type="radio" id="id_filtros_1" value="b" name="filtros" /> 
			  Campo CAPACIDAD PROFESIONAL (CPF)
			</label>
		  </li>

		  <li>
			<label for="id_filtros_2">
			  <input type="radio" id="id_filtros_2" value="c" name="filtros" /> 
			  Campo CAPACIDAD PEDAGÓGICA (CPG)
			</label>
		  </li>

		  <li>
			<label for="id_filtros_3">
			  <input type="radio" id="id_filtros_3" value="d" name="filtros" /> 
			  Campo PRÁCTICA DE VALORES (PV)
			</label>
		  </li>

		  <li>
			<label for="id_filtros_4">
			  <input type="radio" id="id_filtros_3" value="e" name="filtros" /> 
			  Reporte de SUGERENCIAS
			</label>
		  </li>

		</ol>
	  </td>
	</tr>
  </table>
</fieldset>


