{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
  (function($){
      $(document).ready(function(){
	  ///$("#paralelo").hide();
	  $('#changelist-form .actions').bind('click', function(){
	      //var seleccion=$('#action option:selected').val();
	      alert(seleccion);
	  });
      });
  })(django.jQuery);
</script>
{% endblock %}

{% block result_list %}
<!-- Para clonar una Asginatura Docente en otro Paralelo -->
<span id="paralelo"> <b> Paralelo: </b> <input type="text" name="paralelo"/>  </span>

{{ block.super }}

{% endblock %}
