{#%  extends "admin/base_site.html" %#}
{#  extends "base.html" #}

<!--link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" /-->

<div>
  <center> {% block title %} Encuesta: {{ cuestionario.titulo }}  {% endblock %} </center>
</div>

<div>
  {{ cuestionario.encabezado|safe }} 
</div>

<div>
  
  {% block content %}
  
  <p>Conteste las siguientes preguntas:</p>

  <form>
    
    {% for seccion in cuestionario.seccion_set.all %}

    {{ seccion.titulo }}
    
    {% for pregunta in seccion.preguntas_ordenadas %}
    
    <div> 
      {{ pregunta.orden }}: {{ pregunta.texto}} <br/> 

      {% for item in pregunta.itempregunta_set.all %}

      {% if pregunta.tipo.tipo == 'SeleccionUnica' %}
      <input type="radio" name="{{ pregunta.id }}" value="{{ item.texto }}" > {{ item.texto }} </input>
      {% endif%}

      {% if pregunta.tipo.tipo == 'Ensayo' %}
      <textarea cols="100" rows="10" > </textarea>
      {% endif%}

      {% endfor%}

  </div>
{% endfor %}

{% endfor%}

</form>

<input type="submit" value="GRABAR"/>

{% endblock %}

</div>
