{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}

{{ block.super }}

<script type="text/javascript">
  (function($){
      $(document).ready(function($){
	  $('#id_tipo').change(function(){
	      var seleccion=$('#id_tipo option:selected').val();
	      // Tipo de pregunta: SeleccionUnica
	      if (seleccion == '2'){
		  $('#id_tipo').parent().append('<span id="activador"><input type="checkbox" id="tipo_predefinido" name="tipo_predefinido" value="Valor">' + 
						'Predeterminado </input></span>');
		  $('#tipo_predefinido').change(function(){
		      if ($('#tipo_predefinido').is(':checked')) {
			  $('#items-group').hide();
			  var contenido = '<span id="opciones_grupo">';
			  contenido += '<b> Tamaño: </b> <select name="longitud"> <option value="" selected > ----- </option> ';
			  for (var i=2; i<10; i++){
			      var selected = '';
			      if ( i==4 ){
				  selected = 'selected';
			      }
			      contenido += '<option value="' + i + '" ' + selected + '>' + i + '</option>';
			  }
			  contenido += '</select> <b> Numeración:</b>' + 
			      '<input type="radio" name="numeracion" value="a"> Letras </input>' +
			      '<input type="radio" name="numeracion" value="1" checked> Números </input>';
 			  contenido += "</span>";
			  $('#id_tipo').parent().append(contenido);
		      } else {
			  $('#opciones_grupo').remove();
			  $('#items-group').show();
		      }
		  });
	      }else{
		  // Ocultar activador de SeleccionUnica por predeterminada
		  $('#activador').remove();
		  // Tipo de pregunta: Ensayo, no tiene items
		  if (seleccion == 1){
		      $('#items-group').hide();
		  } else{
		      // Cualquier otro tipo de pregunta
		      $('#items-group').show();
		  }
	      }
	  });
      });
  })(django.jQuery);
</script>

{% endblock%}
